# Xcode
## User settings
xcuserdata/
*.xcuserstate

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accidental dir
DerivedData/
build/

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Other
.DS_Store
.AppleDouble
.LSOverride
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace

# Playgrounds
timeline.xctimeline
playground.xcworkspace

